.Checkout {
    &::before {
        @include after-mobile {
            content: none;
            background: var(--breadcrumbs-background);
            min-height: var(--breadcrumbs-height);
            display: block;
        }
    }
}